<div class="col-md-9" style="margin-left:200px; margin-top:50px;">
	<div class="panel panel-default">
		<div class="panel-heading"><strong> Your Bookings </strong></div>
			<div class="panel-body">
				<div class="row">
					<div class="col-md-9 col-md-offset-1">
						<h1><strong>Title: <%= @booking.title %></strong></h1>
					</div>
				<div class="row">	
					<div class="col-md-9 col-md-offset-1">
						<h4><strong>Notes: <%= @booking.notes %></strong></h4>
					</div>
				</div>

				<div class="row">	
					<div class="col-md-9 col-md-offset-1">
						<h4>Start Time:<%= @booking.start_date.strftime('%v') %></h4>
					</div>

					<div class="col-md-9 col-md-offset-1">
						<h4>End Time:<%= @booking.end_date.strftime('%v') %></h4>
					</div>

				</div>

					<div class="col-md-9 col-md-offset-1">
						<h4>Total: $<%= @booking.total %></h4>
					</div>	
				</div>
						<hr>
					<strong>Payment Status:</strong>
      		<% if @booking.payments.where(status: :authorized).count == 0 %>
      			<span class="btn btn-danger"> NOT PAID </span>
       			<%= link_to 'Pay Now' , new_facility_booking_payment_path(@booking.facility, @booking) + "?id=" + @booking.id.to_s, class: "btn btn-primary"  %>
      		<% else %>
      			<span class="btn btn-success">PAID</span>
      		<% end %>

			</div>
		</div>
	</div>

