<div class="col-md-9">
	<div class="panel panel-default">
		<div class="panel-heading"> Your Bookings </div>
			<div class="panel-body">
				<div class="row">
					<div class="col-md-10">
						<%= @booking.title %>
					</div>
				<div class="row">	
					<div class="col-md-10">
						<%= @booking.notes %>
					</div>
				</div>

				<div class="row">	
					<div class="col-md-10">
						<%= @booking.start_date.strftime('%v') %>
					</div>

					<div class="col-md-10">
						<%= @booking.end_date.strftime('%v') %>
					</div>

				</div>

					<div class="col-md-2 right">
						<h4>$<%= @booking.total %></h4>
					</div>	
				</div>
						<hr>

			</div>
		</div>
	</div>

