
<div class="user-container" style="margin-top:100px; margin-left:120px;">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title"><h2 class="img-circle">
                      <% if current_user.name.nil? %>

                        <h3>Whats your name btw? Please update us more basic details of yours. Go to <%= link_to "update profile", edit_user_path(current_user.id) %>.<br></h3>

                        <h4><%= "Your email address is: " + current_user.email %><br></h4>

                      <% else %>
                        <%= current_user.name %>
                      <% end %>

                      <%= image_tag (current_user.avatars[0].thumb.url) if current_user.avatars[0] != nil %></h2></h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class=" col-md-9 col-lg-9 ">
                            <table class="table table-user-information">
                                <tbody>
           

                                    <tr>
                                     
       
                                       <% if current_user.name.nil? %>

                                         <h3>Whats your name btw? Please update us more basic details of yours. Go to <%= link_to "update profile", edit_user_path(current_user.id) %>.<br></h3>
                                         <h4><%= "Your email address is: " + current_user.email %><br></h4>
                                       
                                       <% else %>
                                         <%= "Hi, " + current_user.name + "! We appreciate every moment you have with us =)" %><br>

                                         
                                         <% if current_user.teams.nil? %>
                                          <div id="create-team-button">
                                           <%= button_to "let's create a team!", new_user_team_path(current_user.id) %><br>
                                          </div>

                                         <% else %>

                                           <% teams = Team.where(user_id: current_user.id)
                                           user_teams = UserTeam.where(user_id: current_user.id) %>

                                           <% if teams.count != 0 %>
                                             <%= "Teams where you are an admin:" %><br>
                                             <% teams.each_with_index do |t, index| %>
                                               <%= "#{index+1}.. #{t.name}"%>
                                               <%= link_to "view", user_team_path(current_user, t) %><br>
                                             <% end %>
                                           <% end %>

                                           <% if user_teams.count != 0 %>
                                             <%= "Teams you are a member:" %><br>
                                             <% user_teams.each_with_index do |ut, index|%>
                                               <%= "#{index+1}.. #{ut.team.name}" %>
                                               <%= link_to "view", user_team_path(current_user, ut.team) %><br>
                                             <% end %>

                                           <% end %>

                                           <%= link_to "let's create more kick-ass teamsss!", new_user_team_path(current_user.id) %><br>

                                         <% end %>
                                        <br><br>
                                         <%= "Below is your public information:" %><br>
                                         <%= "Name: #{current_user.name}" if current_user.name != nil %><br>
                                         <%= "Gender: #{current_user.gender}" if current_user.gender != nil %><br>
                                         <%= "Profile Description: #{current_user.description}" if current_user.description != nil%><br>
                                         <%= "Contact: #{current_user.contact_detail}" if current_user.contact_detail != nil %><br>
                                         <%= "Location: #{current_user.location_description}" if current_user.location_description != nil %><br>
                                         <%= link_to "update profile", edit_user_path(current_user.id) %><br>
                                       

                                       
                                         <% bookings = current_user.bookings %>
                                         <% facilities = current_user.facilities %>
                                        <br><br>
                                         <% if bookings.count != 0 %>
                                           <%= "You have #{bookings.count} bookings booked through our sites." %><br>
                                           <% bookings.each_with_index do |b, index| %>
                                             <%= "#{index+1}.. #{b.title}" %>
                                             <%= link_to "View", facility_booking_path(b.facility.id, b.id), class: "btn btn-primary" %><br>
                                           <% end %>
                                         <% end %>
                                        <br><br>
                                         <% if facilities.count != 0 %>
                                           <%= "You have #{facilities.count} facitilites listed on our sites." %><br>
                                           <% facilities.each_with_index do |f, index| %>
                                             <%= "#{index+1}.. #{f.location_name}" %>
                                             <%= link_to "View", user_facility_path(current_user.id, f.id), class: "btn btn-primary" %><br>
                                           <% end %>
                                         <% end %>
                                        <% end %>
                                        </div>
                                      </div>



                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- template -->

<div id="clearance" class="sign-up">
  <style>
  body {
     background-image: url('http://www.tmwallpaper.com/mod/creative/1600x900/wide-wallpaper-1600x900-063.jpg');
  }

  </style>
