<div class="panel panel-default">
	<div class="panel-heading">
		Create your facility here
	</div>
	<div class="panel-body">
		<div class="container">
			
			
				<div class="row">
					<div class="col-md-4 select">
						<div class="form-group">
										<label>Facility Type</label>
										<%= form.select :sport, [["Futsal","Futsal"], ["Badminton","Badminton"], ["Basketball","Basketball"]], id: "sport", prompt: "Please select", class: "form-control" %>
						</div>
					</div>

					<div class="col-md-4 select">
						<div class="form-group">
										<label>City</label>
										<%= form.select :city, [["Petaling Jaya","Petaling Jaya"], ["KL","KL"], ["Klang","Klang"]], prompt: "Please select", class: "form-control" %>
						</div>
					</div>

					<div class="col-md-4 select">
						<div class="form-group">
										<label>Number of Hours</label>
										<%= form.select :price_per_hour, [["1",1], ["2",2], ["3",3], ["4",4], ["5",5], ["6+",6]], prompt: "Select...", class: "form-control" %>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-4 select">
						<div class="form-group">
									<label>Ratings</label>
									<%= form.select :ratings, [["1",1], ["2",2], ["3",3], ["4+",4]], prompt: "Please select", class: "form-control" %>
						</div>
					</div><br><br>

				
					<div class="form-group">
								<label>Location Name</label>
								<%= form.text_field :location_name, placeholder: "Name of your facility", class: "form-control" %>
					</div>
				

				
					<div class="form-group">
								<label>Description</label>
								<%= form.text_area :description, rows: 5, placeholder: "Tell us about your facility", class: "form-control" %>
					</div>
				

				
					<div class="form-group">
								<label>Street</label>
								<%= form.text_field :street, placeholder: "What is your street address?", class: "form-control" %>
					</div>
				</div>

				<div class="row">
					<div class="col-md-4">
						<div class="form-group">
							<label>Price per hour</label>
							<div class="input-group">
								<div class="input-group-addon">$</div>
								<%= form.text_field :price_per_hour, placeholder: "eg. $100", class: "form-control" %>
							</div>	
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-4">
						<div class="form-group">							
							<span class="btn btn-default btn-file">
							    <i class="fa fa-cloud-upload fa-lg"></i> Upload Photos 
							    <%= form.file_field :avatars, multiple: true %>
							</span>
						</div>		
					</div>
				</div>

				<div id="photos"><%= render 'photos/list' %></div>


				<div class="actions">
					<%= form.submit "Save", class: "btn btn-primary" %>
				</div>
			
		</div>
	</div>
</div>