 <nav id="header" class="navbar navbar-fixed-top">
  <div id="header-container" class="container navbar-container">

    <ul class="nav nav-pills" >
      <li>
        <%= link_to root_path, class: "no-padding" do %>
          <div id="home-logo"></div>
        <% end %>
      </li>
      <% if signed_in? %>

        <li role="presentation" class="active"><%= link_to t(".create_facility"), new_user_facility_path(current_user.id) %></li>
        <li role="presentation" class="active"><%= link_to "#{current_user.email}", user_path(current_user.id) %></li>
        <li role="presentation" class="active"><%= link_to t(".sign_out"), sign_out_path, method: :delete %></li>

      <% else %>
        
        <li role="presentation" class="active"><%= link_to t(".sign_up"), sign_up_path %></li>
        <li role="presentation" class="active"><%= link_to t(".sign_in"), sign_in_path %></li>
        <li role="presentation" class="active"><%= link_to "Connect With Facebook", "/auth/facebook" %></li>
        
      <% end %>
    </ul>

    <div id="flash">
      <% flash.each do |key, value| %>
        <div id="flash_<%= key %>"><%=h value %></div>
      <% end %>
    </div>

  </div>
 </nav>