<div id="header">
  <%= link_to t(".home"), root_path %>
  <% if signed_in? -%>
    <%= link_to "#{current_user.email}", user_path(current_user.id) %>
    <%= link_to t(".sign_out"), sign_out_path, method: :delete %>
  <% else -%>
    <%= link_to t(".sign_up"), sign_up_path %>
    <%= link_to t(".sign_in"), sign_in_path %>
    <%= link_to "Connect With Facebook", "/auth/facebook" %>
    
  <% end -%>
</div>

<div id="flash">
  <% flash.each do |key, value| -%>
    <div id="flash_<%= key %>"><%=h value %></div>
  <% end %>
</div>